name: Java CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Maven
      run: mvn -B package --file pom.xml
    - name: azd with Maven
      run: mvn --version
    - name: azazzd with Maven
      run: which mvn
    - name: azdazzazzd with Maven
      run: which java
    - name: azdazzazzdzda with Maven
      run: echo $JAVA_HOME
